.notifications {
    position: relative;
}

.notifications-icon {
    color: white;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
}

.notification-count {
    display: flex;
    background: #8603a5;
    height: 25px;
    width: 25px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -15px;
}

.notifications-box {
    max-height: 50vh;
    width: 300px;
    position: absolute;
    top: 2rem;
    right: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: #181d31;
    color: white;
    z-index: 5;
}

.notifications-header {
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.mark-as-read {
    cursor: pointer;
    font-weight: 700;
    opacity: 0.8;
}

.notification {
    font-size: 14px;
    margin: 1rem 0;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.notification.not-read {
    background: #263159;
}

.notification-time {
    margin-top: 0.2rem;
    font-size: 12px;
    color: #e0e0e0;
}