.all-users {
    display: flex;
    margin-bottom: 1rem;
}

.single-user {
    background: rgb(0, 213, 255);
    color: white;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 10px;
    margin-right: 0.5rem;
    position: relative;
}

.user-online {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgb(0, 219, 0);
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 2;
}

.input {
    width: 330px !important;
}

.list-group {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.group {
    position: relative;
}