.round-avatar {
    border-radius: 50%;
    font-size: 12px;
    line-height: 25px;
}

.text, .date {
    font-size: 14px;
    color: rgb(180, 180, 180);
}

.name {
    font-weight: 700;
}

.text-content {
    width: 170px;
}

.user-card {
    color: white;
    position: relative;
    border-bottom: 1px solid rgb(100, 100, 100);
    width: 340px;
    transition: all 0.3s ease;
}

.avatar-only {
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.relative-avatar {
    position: relative;
}

.user-online {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgb(0, 219, 0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.this-user-notifications {
    display: flex;
    background: #8603a5;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
